/* UPLOAD.PHP */
#form-input{
    width:100%;
}
.all-posts{
    margin-top:40px;
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
}

.post{
    background-color: lightgray;
    margin:25px 0;
}

img{
    margin:5px;
}

header{
    height:200px;
    position:relative;
    background-color:#588D57;
}

#form-search{
    position:absolute;
    right:10px;
    top:0px;
    padding:5px;
    background-color:#000;
}

/* LIKE BUTTON */

.likePlace{
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    color: #8a8a8a;
  }

  .likePlace:hover{
    border-color: #cc4b37;
    background-color: transparent;
  }

/* REPORT BUTTON */
.report_icon{
    width: 25px;
}
  